*.txt
!train.txt
!valid.txt
!人教+北师大小学.txt
!人教+北师大中小学.txt
*.h5
！model_d50_0.0005_15.h5
#*.png
*.pdf
*.pyc
*.npy
sgns.literature.bigram-char
report/zh.pptx
paper/面向可读性评估的文本表示技术研究_蒋智威.xml
paper/面向可读性评估的文本表示技术研究_蒋智威.caj
report/文档分类报告.docx
code/__pycache__/model.cpython-36.pyc
.vscode/settings.json
model/textcnn/model.png
